@set "utf-8";
/* Global */

body, html {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;
	height: 100%;
	background-color: #093162;
}
.maincontainer {
	width: 1000px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	margin: 0 auto;
	position: absolute;
	bottom: 1;
	left: 0;
	right: 0;
	padding-bottom: 1%;
	min-height: 96%;
	background-color: #f2f2f2;
	box-shadow: 2px 2px 40px 2px black;
}
a {
	text-decoration: none;
}
p {
	font-family: Titillium Web;
	font-size: 14pt;
	text-indent: 45px;
}
td, th {
	font-family: Titillium Web
}
/* Main Page */

div.mainhead {
	padding-bottom: 1px;
	font-family: Bitter;
	border-bottom: 4px solid black;
	margin-top: 0;
}
h1.mainhead {
	padding-left: 2%;
	display: inline-block;
	font-size: 32pt;
	margin-bottom: 10px;
	margin-top: 10px;
	max-width: 800px;
	overflow-x: hidden;
}
h3.virusname {
	font-family: Josefin Sans;
	color: black;
	font-size: 16pt;
	margin: 10px;
}
a.mainhead {
	float: right;
	text-decoration: none;
	color: #d14747;
	font-size: 22pt;
	font-family: Bitter;
	font-weight: bold;
	padding-top: 24px;
	margin-right: 2%;
	margin-left: 1%
}
a.mainhead:hover {
	color: black;
}
.viruscontainer {
	text-align: center;
	float: left;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 30px;
	border: 2px solid black;
	box-sizing: border-box;
	text-decoration: none;
	background-color: lightblue;
}
.viruscontainer:hover {
	background-color: #D14747;
	box-shadow: 3px 3px 8px 0px black;
	color: black;
}
.viruscontainer:hover h3 {
	color: white;
	text-shadow: 2px 2px 1px black;
}
img.link {
	width: 100%;
	border-bottom: 2px solid black;
}
/* Indv Virus Pages */

td.dl, tr.dl, th.dl {
	margin: 0;
	padding-right: 30px;
	padding-left: 10px;
	background-color: #093162;
	color: white;
}
img.dl {
	margin: 0;
	padding: 6px;
	display: block;
	width: 40px;
	border-collapse: collapse;
}
table.dl {
	border-collapse: collapse;
	float: right;
	width: auto;
	margin-right: 6%;
	border: 2px solid black;
	text-align: center;
	font-size: 20pt;
	font-family: Orbitron;
}
a.dl {
	margin: 0;
	padding: 0;
}
td.dlicon, tr.dlicon {
	margin: 0;
	padding: 0;
	border-left: 2px solid black;
	background-color: #d14747;
	border-collapse: collapse;
}
td.dlicon:hover {
	background-color: lightblue;
}
div.infomain {
	float: left;
	width: 38%;
	margin-right: 4%;
	margin-top: 4%;
	box-shadow: 2px 2px 4px 1px black;
	border: 2px solid black;
}
.viruspic {
	width: 100%;
	border-bottom: 2px solid black;
	float: left;
}
div.info {
	clear: left;
	display: block;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	float: left;
}
h2.info {
	text-align: center;
	text-decoration: underline;
	font-family: Bitter;
}
ul.info {
	margin-left: 2%;
	font-size: 12pt;
	font-family: Bitter;
}
ul.symp {
	font-family: Titillium Web;
	font-size: 14pt;
	list-style-type: none;
}
li.symp {
	padding-bottom: 10px;
}
h4.info {
	font-family: Bitter;
	margin-left: 4%
}
.downloads /*Download Links Div*/ {
	width: 54%;
	float: left;
	margin-top: 4%;
	padding-bottom: 4%;
	margin-bottom: 2%;
	border-bottom: 4px solid black;
}
div.citations {
	float: left;
	clear: both;
	display: inline-block;
	width: 80%;
	margin-left: 0%;
	padding-top: 50px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
ul.citations {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 14px;
}
/* DNA Page */

a.attrib {
	font-family: Bitter;
	font-size: 14pt;
	color: #d14747;
	margin-top: 10px;
}
#attrib1 {
	float: left;
	margin-left: 20px;
}
#attrib2 {
	margin-left: 300px;
	margin-top: 10px;
	float: left;
}
#attrib3 {
	float: right;
	margin-right: 20px;
}
div.note {
	display: block;
	float: left;
	text-indent: 0;
}
table.comb_table, table.indiv_table {
	float: left;
	border-collapse: collapse;
	clear: left;
	margin: 0 auto;
}
table.indiv_table, table.comb_table {
	margin-top: 30px;
	width: 900px;
	margin-left: 50px;
}
td.comb_table, td.indiv_table, th.comb_table, th.indiv_table {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 4px;
}
p.note {
	margin-top: 40px;
	text-indent: 0px;
	margin-left: 50px;
	margin-right: 50px;
}
th.comb_table, th.indiv_table {
	background: lightblue;
}
h2.dna {
	float: left;
	display: block;
	clear: right;
	font-family: Bitter;
	margin-bottom: 20px;
	margin-top: 30px;
}
img.dna {
	float: left;
	clear: both;
	margin-top: 40px;
	margin-bottom: 10px;
	width: 400px;
	margin-left: 275px;
	border: 4px solid black;
}
li.dna {
	float: left;
	clear: both;
	font-family: Titillium Web;
	font-size: 14pt;
	margin-left: 50px;
}
h4.dnadesc {
	text-align: center;
	clear: both;
	margin-bottom: 40px;
}
/*Tutorial*/

h2.tutorial {
	font-family: Bitter;
	font-size: 48pt;
	text-align: center;
	color: #bc3a3a;
	text-shadow: 1px 1px 1px black;
	margin-top: 10%;
}
ol.tutorial {
	font-family: Titillium Web;
	font-size: 13pt;
}
ul.tutorial {
	font-family: Titillium Web;
	font-size: 13pt;
}
li.tutorial {
	padding-bottom: 7px;
	font-size: 13pt;
}
p.tutorial {
	font-size: 13pt;
}
/* Tutorial Images */

#choosing1 {
	width: 80%;
	border: 2px solid black;
	margin-left: 10%;
	cursor: zoom-in;
}
.tutorialpic {
	width: 100%;
	border: 2px solid black;
	cursor: zoom-in;
}
.vidembed {
	width: 640px;
	height: 360px;
	padding-bottom: 10px;
	margin: 0 auto;
	clear: both;
	display: block;
}
#fig2 {
	width: 50%;
	margin-left: 1.75%;
	float: left;
}
#fig3 {
	width: 46.4%;
	margin-left: 0.7%;
	float: left;
}
#fig4 {
	width: 70%;
	margin-left: 15%;
}
#vid1 {
	width: 100%;
	float: left;
}
#fig5 {
	width: 45%;
	float: left;
	margin-left: 2.5%
}
#fig6 {
	width: 45%;
	float: left;
	clear: right;
	margin-left: 1%;
}
#additional_resources {
	font-family: Titillium Web;
	font-size: 14pt;
}
h4.picdesc {
	text-align: center;
	margin-top: 10px
}
/* About Page */

h2.about {
	margin-top: 40px;
	font-size: 20pt;
}
p.about {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h3.name {
	clear: left;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 30px;
	margin-left: 30px;
}
h4.bio {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 50px;
}
p.bio {
	text-indent: 0;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
p.biotop {
	text-indent: 0;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13pt;
	font-style: italic;
}
a.add_res {
	display: inline-block;
	font-size: 14pt;
	margin-bottom: 10px;
}
/* Virus Index */

p.virus_index {
	text-indent: 0;
	margin-left: 70px;
	margin-right: 50px;
	margin-top: 30px;
	font-size: 13pt;
}
table.virus_index, tr.virus_index, th.virus_index, td.virus_index {
	border: 2px solid black;
	border-collapse: collapse;
}
table.virus_index {
	margin: 0 auto;
	margin-top: 40px;
	border: 3px solid black;
	margin-bottom: 70px
}
th.virus_index {
	background: #C7DFE7
}
td.virus_index, th.virus_index {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
